{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",

  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "tailwindAttributes": ["rangeClass", "trackClass"]
}
