@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/catppuccin';

@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

html,
body {
  @apply h-full;
}

.list-item-sign-out button {
  width: 100%;
}

.markdown-body {
  background-color: transparent;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 200px;

  & ul {
    list-style: initial;
  }

  & ol {
    list-style: decimal;
  }

  & a {
    @apply anchor;
  }

  &.short {
    @apply w-full;

    &,
    & > * {
      @apply list-none;
      @apply overflow-hidden;
      @apply p-0;
      @apply text-ellipsis;
      @apply text-gray-400;
      @apply text-xs;
      @apply w-full;
    }

    img {
      display: none;
    }

    .badge {
      color: var(--color-white);
      opacity: 0.8;
      padding-block: calc(var(--spacing) * 1);
      padding-inline: calc(var(--spacing) * 3);
      width: auto;
    }
  }
}

.label > span {
  @apply text-xs;
  @apply text-surface-800-200;
}

select option:checked {
  background-color: var(--color-primary-500);
}

[data-scope='app-bar'][data-part='headline'] {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

[data-scope='popover'][data-part='description'] {
  margin: 0;
}

.preset-glass-neutral {
  background: color-mix(in oklab, var(--color-surface-50-950) 75%, transparent) !important;
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-surface-50-950) 30%, transparent) inset;
  backdrop-filter: blur(16px);
}
